################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/DoubleGraphicLayer_Bak/DoubleGraphicLayer/obj/Release
/Source/DoubleGraphicLayer/DoubleGraphicLayer/.vs/DoubleGraphicLayer
